In [1]:
#На основе приложенных данных (файл testProdAnl.csv) проанализировать последствия изменения алгоритма сбора команд для участия в бою:
#1) самостоятельно определить дату внесения изменения в алгоритм
#2) визуализировать последствия изменения, описать их. 
#3) оценить эффект изменения в каждом из сегментов игроков по уровням. В бою могут участвовавать игроки примерно одного уровня, но четкой границы нет (зависит о времени суток, эффективности игрока и т.д.)
#4) охарактеризовать изменение как позитивное или негативное с точки зрения игрока, обосновать свою точку зрения

#user_id - уникальный идентификатор игрока
#battle_id - уникальный идентификатор боя, в котором участвовал игрок
#team - идентификатор команды (принимает значение 1 или 2)
#start_time - день, в который проходил бой
#level - уровень игрока (в бою могут принимать участие игроки разных уровней)
#frags - кол-во убитых игроком противников в бою
#deaths - кол-во смертей игрока в бою (в игре можно умереть не будучи при этом убитым противником, например, подорвавшись на собственной гранате)
#assists - кол-во противников, убитых другими, но при этом им был нанесен значительный урон игроком.

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('testProdAnl.csv')

In [4]:
df.head()

,user_id,battle_id,team,start_time,level,frags,deaths,assists
0,429769,5817db18-c398-6a01-7af8-3dd29d1fd781,1,2016-11-01,40,13,4,6
1,311033,5817db18-c398-6a01-7af8-3dd29d1fd781,1,2016-11-01,34,12,9,7
2,402849,5817db18-c398-6a01-7af8-3dd29d1fd781,1,2016-11-01,38,11,5,6
3,24488,5817db18-c398-6a01-7af8-3dd29d1fd781,1,2016-11-01,34,8,7,12
4,447678,5817db18-c398-6a01-7af8-3dd29d1fd781,2,2016-11-01,29,8,8,3

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 666296 entries, 0 to 666295
Data columns (total 8 columns):
user_id       666296 non-null int64
battle_id     666296 non-null object
team          666296 non-null int64
start_time    666296 non-null object
level         666296 non-null int64
frags         666296 non-null int64
deaths        666296 non-null int64
assists       666296 non-null int64
dtypes: int64(6), object(2)
memory usage: 40.7+ MB

In [6]:
df.shape

(666296, 8)

In [7]:
df.sort_values(by ='start_time',ascending=True).head()

,user_id,battle_id,team,start_time,level,frags,deaths,assists
0,429769,5817db18-c398-6a01-7af8-3dd29d1fd781,1,2016-11-01,40,13,4,6
24895,739297,5818d2cb-d741-6a01-02cc-a92b57a26cc5,2,2016-11-01,9,10,8,3
24896,70266,5818d2cb-d745-6a01-6c01-bfe1ae231c13,1,2016-11-01,19,4,3,2
24897,761053,5818d2cb-d745-6a01-6c01-bfe1ae231c13,1,2016-11-01,11,4,6,7
24898,689216,5818d2cb-d745-6a01-6c01-bfe1ae231c13,1,2016-11-01,10,8,5,0

In [8]:
df['start_time'].value_counts()

2016-11-06    55240
2016-11-05    51362
2016-11-13    39472
2016-11-12    38781
2016-11-07    38576
2016-11-04    38510
2016-11-02    37428
2016-11-01    37348
2016-11-08    35750
2016-11-09    32546
2016-11-11    31953
2016-11-10    31944
2016-11-03    30864
2016-11-14    29575
2016-11-19    29280
2016-11-15    28721
2016-11-16    28546
2016-11-17    27296
2016-11-18    23104
Name: start_time, dtype: int64

In [14]:
df['level'].describe(percentiles=[])

count    666296.000000
mean         18.503766
std          10.961394
min           1.000000
50%          18.000000
max          45.000000
Name: level, dtype: float64

In [28]:
df.pivot_table(['deaths', 'frags', 'assists', 'level'], ['start_time', 'team'], aggfunc='mean')

                  assists    deaths     frags      level
start_time team
2016-11-01 1     5.352522  7.264860  7.359537  18.610153
           2     5.284727  7.476009  7.150262  18.461337
2016-11-02 1     5.325104  7.230309  7.307096  18.816287
           2     5.254141  7.414716  7.110773  18.665972
2016-11-03 1     5.478810  7.408696  7.496047  19.492742
           2     5.422369  7.602190  7.281428  19.381934
2016-11-04 1     5.504440  7.402701  7.464607  18.382862
           2     5.434017  7.575227  7.286990  18.269696
2016-11-05 1     5.269888  7.129084  7.176940  15.923679
           2     5.192321  7.262957  7.021222  15.768389
2016-11-06 1     5.273244  7.133128  7.193374  15.886966
           2     5.212238  7.297176  7.019515  15.741854
2016-11-07 1     5.443022  7.310867  7.385421  17.951161
           2     5.361987  7.496423  7.195718  17.775404
2016-11-08 1     5.518881  7.427636  7.482462  18.662434
           2     5.439049  7.588867  7.314853  18.537510
2016-11-09 1     5.521723  7.395748  7.476188  19.218952
           2     5.441345  7.567382  7.284029  19.069133
2016-11-10 1     5.502567  7.411971  7.505071  19.258578
           2     5.427248  7.596043  7.303907  19.105121
2016-11-11 1     5.425451  7.325989  7.477153  18.478843
           2     5.341053  7.566815  7.241722  18.219253
2016-11-12 1     5.377340  7.299314  7.369708  18.062761
           2     5.302785  7.456576  7.207375  17.826973
2016-11-13 1     5.484901  7.412799  7.534505  18.560144
           2     5.379864  7.614714  7.308320  18.308725
2016-11-14 1     5.572665  7.518023  7.626834  19.918510
           2     5.526305  7.704896  7.414525  19.641128
2016-11-15 1     5.681638  7.516607  7.729197  20.457698
           2     5.523120  7.817409  7.401184  20.140181
2016-11-16 1     5.643873  7.533665  7.692146  20.875990
           2     5.555665  7.790303  7.437960  20.580326
2016-11-17 1     5.616354  7.525498  7.682811  20.955744
           2     5.552975  7.773154  7.441090  20.662441
2016-11-18 1     5.319945  7.308085  7.429449  20.184470
           2     5.257098  7.510301  7.237794  19.888418
2016-11-19 1     5.064617  7.084563  7.181011  18.970150
           2     4.991598  7.252596  6.996995  18.720423

In [23]:
df[df['start_time']=='2016-11-02']

,user_id,battle_id,team,start_time,level,frags,deaths,assists
37348,228484,58192c64-2df0-6a01-d6e6-a28c505b4bc3,1,2016-11-02,31,9,7,4
37349,21860,58192c64-2df0-6a01-d6e6-a28c505b4bc3,1,2016-11-02,30,1,4,6
37350,296484,58192c64-2df0-6a01-d6e6-a28c505b4bc3,2,2016-11-02,35,6,3,1
37351,55702,58192c64-2df0-6a01-d6e6-a28c505b4bc3,2,2016-11-02,39,7,2,5
37352,339725,58192cec-2e71-6a01-4c7e-6e17da75c7fc,1,2016-11-02,32,9,5,3
37353,448424,58192cec-2e71-6a01-4c7e-6e17da75c7fc,1,2016-11-02,29,6,5,3
37354,342153,58192cec-2e71-6a01-4c7e-6e17da75c7fc,1,2016-11-02,32,6,2,1
37355,231873,58192cec-2e71-6a01-4c7e-6e17da75c7fc,1,2016-11-02,27,2,8,3
37356,375878,58192cec-2e71-6a01-4c7e-6e17da75c7fc,2,2016-11-02,31,9,4,2
37357,217599,58192cec-2e71-6a01-4c7e-6e17da75c7fc,2,2016-11-02,33,3,6,3
37358,533271,58192cec-2e71-6a01-4c7e-6e17da75c7fc,2,2016-11-02,30,4,6,5
37359,364858,58192cec-2e71-6a01-4c7e-6e17da75c7fc,2,2016-11-02,26,4,8,3
37360,777563,58192d19-2ea1-6a01-918f-42a282cac03f,1,2016-11-02,17,7,6,7
37361,796697,58192d19-2ea1-6a01-918f-42a282cac03f,1,2016-11-02,10,2,4,6
37362,670752,58192d19-2ea1-6a01-918f-42a282cac03f,1,2016-11-02,22,7,3,3
37363,788123,58192d19-2ea1-6a01-918f-42a282cac03f,1,2016-11-02,10,6,5,3
37364,781261,58192d19-2ea1-6a01-918f-42a282cac03f,2,2016-11-02,7,9,9,2
37365,793033,58192d19-2ea1-6a01-918f-42a282cac03f,2,2016-11-02,9,1,1,1
37366,594274,58192d19-2ea1-6a01-918f-42a282cac03f,2,2016-11-02,19,2,7,4
37367,108446,58192d19-2ea1-6a01-918f-42a282cac03f,2,2016-11-02,16,6,5,2
37368,650045,58192d98-2f23-6a01-4709-70bd6bb69963,1,2016-11-02,15,9,6,5
37369,793757,58192d98-2f23-6a01-4709-70bd6bb69963,1,2016-11-02,9,11,6,6
37370,780973,58192d98-2f23-6a01-4709-70bd6bb69963,1,2016-11-02,15,6,8,8
37371,788123,58192d98-2f23-6a01-4709-70bd6bb69963,1,2016-11-02,10,0,1,2
37372,785920,58192d98-2f23-6a01-4709-70bd6bb69963,2,2016-11-02,8,5,6,4
37373,467412,58192d98-2f23-6a01-4709-70bd6bb69963,2,2016-11-02,13,7,5,1
37374,793771,58192d98-2f23-6a01-4709-70bd6bb69963,2,2016-11-02,7,6,8,1
37375,794379,58192d98-2f23-6a01-4709-70bd6bb69963,2,2016-11-02,7,5,9,11
37376,101266,58192e33-2fb5-6a01-aaa3-5a502f165e79,1,2016-11-02,34,12,9,9
37377,225226,58192e33-2fb5-6a01-aaa3-5a502f165e79,1,2016-11-02,30,12,12,7
...,...,...,...,...,...,...,...,...
74746,554910,581a7d34-8d1a-6a01-193f-f5af5e41956c,1,2016-11-02,18,13,12,5
74747,767164,581a7d34-8d1a-6a01-193f-f5af5e41956c,1,2016-11-02,15,7,10,12
74748,342822,581a7d34-8d1a-6a01-193f-f5af5e41956c,2,2016-11-02,30,16,12,9
74749,593558,581a7d34-8d1a-6a01-193f-f5af5e41956c,2,2016-11-02,28,12,10,6
74750,562508,581a7d34-8d1a-6a01-193f-f5af5e41956c,2,2016-11-02,27,6,10,14
74751,716967,581a7d34-8d1a-6a01-193f-f5af5e41956c,2,2016-11-02,18,9,10,5
74752,150689,581a7d47-8d2f-6a01-94b3-476cdd235958,1,2016-11-02,34,15,9,10
74753,361431,581a7d47-8d2f-6a01-94b3-476cdd235958,1,2016-11-02,31,13,8,9
74754,690517,581a7d47-8d2f-6a01-94b3-476cdd235958,1,2016-11-02,29,2,6,3
74755,356370,581a7d47-8d2f-6a01-94b3-476cdd235958,1,2016-11-02,31,3,8,7
74756,225226,581a7d47-8d2f-6a01-94b3-476cdd235958,2,2016-11-02,30,6,11,6
74757,548187,581a7d47-8d2f-6a01-94b3-476cdd235958,2,2016-11-02,31,4,9,6
74758,239588,581a7d47-8d2f-6a01-94b3-476cdd235958,2,2016-11-02,33,9,8,5
74759,98422,581a7d47-8d2f-6a01-94b3-476cdd235958,2,2016-11-02,31,11,8,6
74760,322639,581a7d62-8d48-6a01-1a6d-fac1c7c71254,1,2016-11-02,32,8,9,6
74761,466488,581a7d62-8d48-6a01-1a6d-fac1c7c71254,1,2016-11-02,32,6,9,6
74762,41272,581a7d62-8d48-6a01-1a6d-fac1c7c71254,1,2016-11-02,38,12,11,8
74763,357571,581a7d62-8d48-6a01-1a6d-fac1c7c71254,1,2016-11-02,34,9,12,9
74764,564635,581a7d62-8d48-6a01-1a6d-fac1c7c71254,2,2016-11-02,33,9,11,5
74765,402849,581a7d62-8d48-6a01-1a6d-fac1c7c71254,2,2016-11-02,39,11,8,6
74766,258653,581a7d62-8d48-6a01-1a6d-fac1c7c71254,2,2016-11-02,35,10,9,14
74767,206934,581a7d62-8d48-6a01-1a6d-fac1c7c71254,2,2016-11-02,36,8,10,9
74768,24488,581a7d81-8d7a-6a01-5c0b-a98c522b1504,1,2016-11-02,34,19,9,10
74769,632735,581a7d81-8d7a-6a01-5c0b-a98c522b1504,1,2016-11-02,30,4,6,6
74770,374818,581a7d81-8d7a-6a01-5c0b-a98c522b1504,1,2016-11-02,32,15,5,5
74771,253178,581a7d81-8d7a-6a01-5c0b-a98c522b1504,1,2016-11-02,36,7,8,7
74772,11444,581a7d81-8d7a-6a01-5c0b-a98c522b1504,2,2016-11-02,31,11,11,2
74773,268975,581a7d81-8d7a-6a01-5c0b-a98c522b1504,2,2016-11-02,28,3,9,9
74774,251528,581a7d81-8d7a-6a01-5c0b-a98c522b1504,2,2016-11-02,30,7,14,5
74775,339725,581a7d81-8d7a-6a01-5c0b-a98c522b1504,2,2016-11-02,32,6,12,6

In [ ]:
# посмотреть распределение лвл в команде по батл айди с учетом дня
# возможно изменение - меньший разброс по лвл в команде (в первый день встречаются игроки с низким уровнем в тиме с высокими)