In [1]:
#На основе приложенных данных (файл testProdAnl.csv) проанализировать последствия изменения алгоритма сбора команд для участия в бою:
#1) самостоятельно определить дату внесения изменения в алгоритм
#2) визуализировать последствия изменения, описать их. 
#3) оценить эффект изменения в каждом из сегментов игроков по уровням. В бою могут участвовавать игроки примерно одного уровня, но четкой границы нет (зависит о времени суток, эффективности игрока и т.д.)
#4) охарактеризовать изменение как позитивное или негативное с точки зрения игрока, обосновать свою точку зрения

#user_id - уникальный идентификатор игрока
#battle_id - уникальный идентификатор боя, в котором участвовал игрок
#team - идентификатор команды (принимает значение 1 или 2)
#start_time - день, в который проходил бой
#level - уровень игрока (в бою могут принимать участие игроки разных уровней)
#frags - кол-во убитых игроком противников в бою
#deaths - кол-во смертей игрока в бою (в игре можно умереть не будучи при этом убитым противником, например, подорвавшись на собственной гранате)
#assists - кол-во противников, убитых другими, но при этом им был нанесен значительный урон игроком.

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('testProdAnl.csv')

In [4]:
df.head()

,user_id,battle_id,team,start_time,level,frags,deaths,assists
0,429769,5817db18-c398-6a01-7af8-3dd29d1fd781,1,2016-11-01,40,13,4,6
1,311033,5817db18-c398-6a01-7af8-3dd29d1fd781,1,2016-11-01,34,12,9,7
2,402849,5817db18-c398-6a01-7af8-3dd29d1fd781,1,2016-11-01,38,11,5,6
3,24488,5817db18-c398-6a01-7af8-3dd29d1fd781,1,2016-11-01,34,8,7,12
4,447678,5817db18-c398-6a01-7af8-3dd29d1fd781,2,2016-11-01,29,8,8,3

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 666296 entries, 0 to 666295
Data columns (total 8 columns):
user_id       666296 non-null int64
battle_id     666296 non-null object
team          666296 non-null int64
start_time    666296 non-null object
level         666296 non-null int64
frags         666296 non-null int64
deaths        666296 non-null int64
assists       666296 non-null int64
dtypes: int64(6), object(2)
memory usage: 40.7+ MB

In [6]:
df.shape

(666296, 8)

In [7]:
df.sort_values(by ='start_time',ascending=True).head()

,user_id,battle_id,team,start_time,level,frags,deaths,assists
0,429769,5817db18-c398-6a01-7af8-3dd29d1fd781,1,2016-11-01,40,13,4,6
24895,739297,5818d2cb-d741-6a01-02cc-a92b57a26cc5,2,2016-11-01,9,10,8,3
24896,70266,5818d2cb-d745-6a01-6c01-bfe1ae231c13,1,2016-11-01,19,4,3,2
24897,761053,5818d2cb-d745-6a01-6c01-bfe1ae231c13,1,2016-11-01,11,4,6,7
24898,689216,5818d2cb-d745-6a01-6c01-bfe1ae231c13,1,2016-11-01,10,8,5,0

In [8]:
df['start_time'].value_counts()

2016-11-06    55240
2016-11-05    51362
2016-11-13    39472
2016-11-12    38781
2016-11-07    38576
2016-11-04    38510
2016-11-02    37428
2016-11-01    37348
2016-11-08    35750
2016-11-09    32546
2016-11-11    31953
2016-11-10    31944
2016-11-03    30864
2016-11-14    29575
2016-11-19    29280
2016-11-15    28721
2016-11-16    28546
2016-11-17    27296
2016-11-18    23104
Name: start_time, dtype: int64

In [9]:
df['level'].describe(percentiles=[])

count    666296.000000
mean         18.503766
std          10.961394
min           1.000000
50%          18.000000
max          45.000000
Name: level, dtype: float64

In [10]:
df.pivot_table(['deaths', 'frags', 'assists', 'level'], ['start_time', 'team'], aggfunc='mean')

                  assists    deaths     frags      level
start_time team
2016-11-01 1     5.352522  7.264860  7.359537  18.610153
           2     5.284727  7.476009  7.150262  18.461337
2016-11-02 1     5.325104  7.230309  7.307096  18.816287
           2     5.254141  7.414716  7.110773  18.665972
2016-11-03 1     5.478810  7.408696  7.496047  19.492742
           2     5.422369  7.602190  7.281428  19.381934
2016-11-04 1     5.504440  7.402701  7.464607  18.382862
           2     5.434017  7.575227  7.286990  18.269696
2016-11-05 1     5.269888  7.129084  7.176940  15.923679
           2     5.192321  7.262957  7.021222  15.768389
2016-11-06 1     5.273244  7.133128  7.193374  15.886966
           2     5.212238  7.297176  7.019515  15.741854
2016-11-07 1     5.443022  7.310867  7.385421  17.951161
           2     5.361987  7.496423  7.195718  17.775404
2016-11-08 1     5.518881  7.427636  7.482462  18.662434
           2     5.439049  7.588867  7.314853  18.537510
2016-11-09 1     5.521723  7.395748  7.476188  19.218952
           2     5.441345  7.567382  7.284029  19.069133
2016-11-10 1     5.502567  7.411971  7.505071  19.258578
           2     5.427248  7.596043  7.303907  19.105121
2016-11-11 1     5.425451  7.325989  7.477153  18.478843
           2     5.341053  7.566815  7.241722  18.219253
2016-11-12 1     5.377340  7.299314  7.369708  18.062761
           2     5.302785  7.456576  7.207375  17.826973
2016-11-13 1     5.484901  7.412799  7.534505  18.560144
           2     5.379864  7.614714  7.308320  18.308725
2016-11-14 1     5.572665  7.518023  7.626834  19.918510
           2     5.526305  7.704896  7.414525  19.641128
2016-11-15 1     5.681638  7.516607  7.729197  20.457698
           2     5.523120  7.817409  7.401184  20.140181
2016-11-16 1     5.643873  7.533665  7.692146  20.875990
           2     5.555665  7.790303  7.437960  20.580326
2016-11-17 1     5.616354  7.525498  7.682811  20.955744
           2     5.552975  7.773154  7.441090  20.662441
2016-11-18 1     5.319945  7.308085  7.429449  20.184470
           2     5.257098  7.510301  7.237794  19.888418
2016-11-19 1     5.064617  7.084563  7.181011  18.970150
           2     4.991598  7.252596  6.996995  18.720423

In [18]:
df[(df['start_time']=='2016-11-01')]

,user_id,battle_id,team,start_time,level,frags,deaths,assists
0,429769,5817db18-c398-6a01-7af8-3dd29d1fd781,1,2016-11-01,40,13,4,6
1,311033,5817db18-c398-6a01-7af8-3dd29d1fd781,1,2016-11-01,34,12,9,7
2,402849,5817db18-c398-6a01-7af8-3dd29d1fd781,1,2016-11-01,38,11,5,6
3,24488,5817db18-c398-6a01-7af8-3dd29d1fd781,1,2016-11-01,34,8,7,12
4,447678,5817db18-c398-6a01-7af8-3dd29d1fd781,2,2016-11-01,29,8,8,3
5,474293,5817db18-c398-6a01-7af8-3dd29d1fd781,2,2016-11-01,33,8,13,7
6,466424,5817db18-c398-6a01-7af8-3dd29d1fd781,2,2016-11-01,30,6,12,3
7,217514,5817db18-c398-6a01-7af8-3dd29d1fd781,2,2016-11-01,28,3,11,12
8,82937,5817db98-c428-6a01-98b0-5c6aa6eef709,1,2016-11-01,29,2,7,5
9,98003,5817db98-c428-6a01-98b0-5c6aa6eef709,1,2016-11-01,30,11,10,1
10,253129,5817db98-c428-6a01-98b0-5c6aa6eef709,1,2016-11-01,31,4,8,6
11,510328,5817db98-c428-6a01-98b0-5c6aa6eef709,1,2016-11-01,30,3,6,2
12,108281,5817db98-c428-6a01-98b0-5c6aa6eef709,2,2016-11-01,35,15,4,3
13,319933,5817db98-c428-6a01-98b0-5c6aa6eef709,2,2016-11-01,30,6,6,6
14,265982,5817db98-c428-6a01-98b0-5c6aa6eef709,2,2016-11-01,12,1,6,5
15,244224,5817db98-c428-6a01-98b0-5c6aa6eef709,2,2016-11-01,31,8,5,7
16,783595,5817dba5-c435-6a01-dc71-9e132e169a58,1,2016-11-01,7,6,5,4
17,778004,5817dba5-c435-6a01-dc71-9e132e169a58,1,2016-11-01,6,4,7,6
18,625178,5817dba5-c435-6a01-dc71-9e132e169a58,1,2016-11-01,9,8,9,5
19,679450,5817dba5-c435-6a01-dc71-9e132e169a58,1,2016-11-01,13,9,8,2
20,778722,5817dba5-c435-6a01-dc71-9e132e169a58,2,2016-11-01,7,11,5,3
21,766331,5817dba5-c435-6a01-dc71-9e132e169a58,2,2016-11-01,12,5,7,6
22,774007,5817dba5-c435-6a01-dc71-9e132e169a58,2,2016-11-01,6,4,8,4
23,784045,5817dba5-c435-6a01-dc71-9e132e169a58,2,2016-11-01,11,8,8,2
24,99994,5817dbe1-c478-6a01-d6a7-015aafb1b932,1,2016-11-01,38,12,8,10
25,481813,5817dbe1-c478-6a01-d6a7-015aafb1b932,1,2016-11-01,32,8,9,10
26,370090,5817dbe1-c478-6a01-d6a7-015aafb1b932,1,2016-11-01,31,9,8,9
27,364978,5817dbe1-c478-6a01-d6a7-015aafb1b932,1,2016-11-01,32,10,7,7
28,218005,5817dbe1-c478-6a01-d6a7-015aafb1b932,2,2016-11-01,32,12,9,3
29,295509,5817dbe1-c478-6a01-d6a7-015aafb1b932,2,2016-11-01,33,5,11,12
...,...,...,...,...,...,...,...,...
37318,454975,58192b82-2cfa-6a01-ff88-28f273c9f9b6,2,2016-11-01,23,6,8,4
37319,364858,58192b82-2cfa-6a01-ff88-28f273c9f9b6,2,2016-11-01,26,6,11,5
37320,774272,58192be2-2d5f-6a01-9636-b65cfa8ecc88,1,2016-11-01,4,7,8,4
37321,797263,58192be2-2d5f-6a01-9636-b65cfa8ecc88,1,2016-11-01,6,17,8,7
37322,797431,58192be2-2d5f-6a01-9636-b65cfa8ecc88,1,2016-11-01,4,3,10,9
37323,796883,58192be2-2d5f-6a01-9636-b65cfa8ecc88,1,2016-11-01,10,6,8,7
37324,773234,58192be2-2d5f-6a01-9636-b65cfa8ecc88,2,2016-11-01,7,11,9,4
37325,787822,58192be2-2d5f-6a01-9636-b65cfa8ecc88,2,2016-11-01,7,7,10,8
37326,536406,58192be2-2d5f-6a01-9636-b65cfa8ecc88,2,2016-11-01,25,8,8,6
37327,764436,58192be2-2d5f-6a01-9636-b65cfa8ecc88,2,2016-11-01,14,6,8,5
37328,358666,58192c07-2d8b-6a01-b6cb-f95b46effe28,1,2016-11-01,34,9,9,6
37329,93488,58192c07-2d8b-6a01-b6cb-f95b46effe28,1,2016-11-01,32,0,0,0
37330,586044,58192c07-2d8b-6a01-b6cb-f95b46effe28,1,2016-11-01,31,8,9,6
37331,268975,58192c07-2d8b-6a01-b6cb-f95b46effe28,1,2016-11-01,27,4,8,8
37332,126868,58192c07-2d8b-6a01-b6cb-f95b46effe28,2,2016-11-01,32,8,8,4
37333,196650,58192c07-2d8b-6a01-b6cb-f95b46effe28,2,2016-11-01,31,9,6,3
37334,705992,58192c07-2d8b-6a01-b6cb-f95b46effe28,2,2016-11-01,27,4,4,5
37335,313203,58192c07-2d8b-6a01-b6cb-f95b46effe28,2,2016-11-01,32,3,5,5
37336,483262,58192c23-2da9-6a01-c137-b822d2fc2a30,1,2016-11-01,25,3,11,3
37337,365225,58192c23-2da9-6a01-c137-b822d2fc2a30,1,2016-11-01,27,8,13,2
37338,282151,58192c23-2da9-6a01-c137-b822d2fc2a30,1,2016-11-01,26,5,9,4
37339,425382,58192c23-2da9-6a01-c137-b822d2fc2a30,1,2016-11-01,29,6,13,7
37340,264247,58192c23-2da9-6a01-c137-b822d2fc2a30,2,2016-11-01,36,25,4,6
37341,577127,58192c23-2da9-6a01-c137-b822d2fc2a30,2,2016-11-01,28,6,7,8
37342,734714,58192c23-2da9-6a01-c137-b822d2fc2a30,2,2016-11-01,30,4,4,9
37343,337517,58192c23-2da9-6a01-c137-b822d2fc2a30,2,2016-11-01,24,11,7,3
37344,385872,58192c64-2df0-6a01-d6e6-a28c505b4bc3,1,2016-11-01,33,6,8,3
37345,436275,58192c64-2df0-6a01-d6e6-a28c505b4bc3,1,2016-11-01,32,7,6,3
37346,335730,58192c64-2df0-6a01-d6e6-a28c505b4bc3,2,2016-11-01,32,5,8,4
37347,274043,58192c64-2df0-6a01-d6e6-a28c505b4bc3,2,2016-11-01,32,6,10,9

In [88]:
df_d1 = df[(df['start_time']=='2016-11-01')]
battles = pd.crosstab(index = df_d1['battle_id'], columns =  df_d1['level'])

battles.head()

level,1,2,3,4,5,6,7,8,9,10,...,31,32,33,34,35,36,37,38,39,40
battle_id,,,,,,,,,,,,,,,,,,,,,
5817db18-c398-6a01-7af8-3dd29d1fd781,0,0,0,0,0,0,0,0,0,0,...,0,0,1,2,0,0,0,1,0,1
5817db98-c428-6a01-98b0-5c6aa6eef709,0,0,0,0,0,0,0,0,0,0,...,2,0,0,0,1,0,0,0,0,0
5817dba5-c435-6a01-dc71-9e132e169a58,0,0,0,0,0,2,2,0,1,0,...,0,0,0,0,0,0,0,0,0,0
5817dbe1-c478-6a01-d6a7-015aafb1b932,0,0,0,0,0,0,0,0,0,0,...,1,5,1,0,0,0,0,1,0,0
5817dc22-c4b7-6a01-a6fc-ee26d53885dd,0,0,0,0,0,0,0,0,0,0,...,3,3,0,2,0,0,0,0,0,0

In [ ]:
# посмотреть распределение лвл в команде по батл айди с учетом дня
# возможно изменение - меньший разброс по лвл в команде (в первый день встречаются игроки с низким уровнем в тиме с высокими)